# ==== Unity Generated ====
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uilds/
[Ll]ogs/
[Uu]ser[Ss]ettings/

# Ignore Build folders EXCEPT the root WebGL Build folder
[Bb]uild/
!Build/
!Build/**

# ==== Visual Studio / Rider ====
.vscode/
.idea/
*.csproj
*.sln
*.slnx

# ==== OS ====
.DS_Store
mono_crash*.json