# ==== Unity Generated ====
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]ser[Ss]ettings/

# ==== Visual Studio / Rider ====
.vscode/
.idea/
*.csproj
*.sln
*.slnx

# ==== OS ====
.DS_Storemono_crash*.json
